{
    "openapi": "3.0.0",
    "info": {
        "description": "This is an unofficial documentation for the official Polimi REST api from the new mobile  app. This is not an official documentation and it is not supported by Polimi. Use at your  own risk.",
        "version": "1.0.5",
        "title": "Polimi API",
        "contact": {
            "email": "tommaso.morganti@mail.polimi.it"
        },
        "license": {
            "name": "dont",
            "url": "https://polimi.it"
        }
    },
    "servers": [
        {
            "url": "https://polimiapp.polimi.it/polimi_app"
        },
        {
            "url": "http://polimiapp.polimi.it/polimi_app"
        }
    ],
    "security": [
        {
            "accessToken": []
        }
    ],
    "tags": [
        {
            "name": "jaf",
            "description": "idk how those things are organized"
        },
        {
            "name": "agenda",
            "description": "Endpoints for the agenda"
        }
    ],
    "paths": {
        "/rest/jaf/internal/user": {
            "get": {
                "tags": [
                    "jaf"
                ],
                "summary": "Get user information",
                "description": "",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "idPersona": {
                                            "type": "integer",
                                            "format": "int64"
                                        },
                                        "codicePersona": {
                                            "type": "string",
                                            "example": "10012345"
                                        },
                                        "nome": {
                                            "type": "string",
                                            "example": "MARIO"
                                        },
                                        "cognome": {
                                            "type": "string",
                                            "example": "ROSSI"
                                        },
                                        "matricola": {
                                            "type": "string",
                                            "example": "912345"
                                        },
                                        "classeCarriera": {
                                            "type": "string",
                                            "example": "I"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "MARIO ROSSI"
                                        },
                                        "initials": {
                                            "type": "string",
                                            "example": "MR"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "mario.rossi@mail.polimi.it"
                                        },
                                        "fotoURL": {
                                            "type": "string",
                                            "description": "URL of the user's photo"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agenda/api/me/{matricola}/events": {
            "get": {
                "tags": [
                    "agenda"
                ],
                "summary": "Tutti gli eventi dell'api",
                "parameters": [
                    {
                        "name": "matricola",
                        "in": "path",
                        "description": "Numero di matricola",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "912345"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "starting date of the events",
                        "schema": {
                            "type": "string",
                            "example": "2022-09-12"
                        }
                    },
                    {
                        "name": "n_events",
                        "in": "query",
                        "description": "Number of events to display",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 5
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agenda/api/me/{matricola}/deadlines": {
            "get": {
                "tags": [
                    "agenda"
                ],
                "summary": "Deadlines",
                "parameters": [
                    {
                        "name": "matricola",
                        "in": "path",
                        "description": "Numero di matricola",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "912345"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "starting date of the deadlines",
                        "schema": {
                            "type": "string",
                            "example": "2022-09-12"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "ending date of the deadlines",
                        "schema": {
                            "type": "string",
                            "example": "2022-09-12"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Deadline"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "accessToken": {
                "type": "http",
                "scheme": "bearer",
                "description": "The polimi OAuth access token"
            }
        },
        "schemas": {
            "TranslatedString": {
                "type": "object",
                "properties": {
                    "it": {
                        "type": "string",
                        "example": "Stringa in Italiano"
                    },
                    "en": {
                        "type": "string",
                        "example": "String in English"
                    }
                }
            },
            "EventType": {
                "type": "object",
                "properties": {
                    "typeId": {
                        "type": "number",
                        "description": "enum of the event type: 1 = Lesson, 4 = Deadline, 5 = Custom"
                    },
                    "type_dn": {
                        "$ref": "#/components/schemas/TranslatedString",
                        "description": "Readable name of the event type"
                    }
                }
            },
            "Calendar": {
                "type": "object",
                "properties": {
                    "calendar_id": {
                        "type": "number",
                        "description": "enum of the calendar: 0 = Accademic, 2 = Personal"
                    },
                    "calendar_dn": {
                        "$ref": "#/components/schemas/TranslatedString",
                        "description": "Readable name of the calendar"
                    }
                }
            },
            "Room": {
                "type": "object",
                "properties": {
                    "room_id": {
                        "type": "number"
                    },
                    "acronym_dn": {
                        "type": "string",
                        "description": "Readable name of the room"
                    },
                    "classroom_id": {
                        "type": "number",
                        "description": "seems to be broken, ignore"
                    },
                    "room_dn": {
                        "type": "string",
                        "description": "Random string (?)"
                    }
                }
            },
            "Event": {
                "type": "object",
                "properties": {
                    "event_id": {
                        "type": "number"
                    },
                    "date_start": {
                        "type": "string",
                        "example": "2022-08-23T00:00:00"
                    },
                    "date_end": {
                        "type": "string",
                        "example": "2022-08-23T00:00:00"
                    },
                    "favourite": {
                        "type": "boolean",
                        "example": false
                    },
                    "show_agenda": {
                        "type": "boolean"
                    },
                    "note": {
                        "type": "string",
                        "description": "Custom notes about the event",
                        "nullable": true
                    },
                    "matricola": {
                        "type": "string",
                        "example": "912345"
                    },
                    "title": {
                        "$ref": "#/components/schemas/TranslatedString"
                    },
                    "event_type": {
                        "$ref": "#/components/schemas/EventType"
                    },
                    "calendar": {
                        "$ref": "#/components/schemas/Calendar"
                    },
                    "room": {
                        "$ref": "#/components/schemas/Room"
                    }
                }
            },
            "Deadline": {
                "type": "object",
                "properties": {
                    "event_id": {
                        "type": "number"
                    },
                    "date_start": {
                        "type": "string",
                        "example": "2022-08-23T00:00:00"
                    },
                    "date_end": {
                        "type": "string",
                        "example": "2022-08-23T00:00:00"
                    },
                    "favourite": {
                        "type": "boolean",
                        "example": false
                    },
                    "show_agenda": {
                        "type": "boolean"
                    }
                }
            }
        }
    }
}